{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "ie": 10,
        "node": 8
      }
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}